## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [22]:
data = {'國家':['USA', 'Japan', 'Taiwan', 'Korea'] ,
        '人口': np.random.randint(100000,size=4)}

In [23]:
df = pd.DataFrame(data)

In [24]:
print(df)

       國家     人口
0     USA  75715
1   Japan  34209
2  Taiwan  11741
3   Korea  78436

In [31]:
df[df['人口']==df['人口'].max()]

      國家     人口
3  Korea  78436